/*  
Theme Name: WP-Inspired
Theme URI: http://www.solostream.com
Author: Solostream
Author URI: http://www.solostream.com/
Version: 1.0
Description: This WordPress theme was designed and built by Solostream. 

The CSS, XHTML and design is released under GPL:
http://www.opensource.org/licenses/gpl-license.php

*/

/* --- [ Default style settings are below, while user-defined adjustments and adjustments for various color schemes are in the style.php file. You can make additional adjustments in custom.css. ] --- */

/* -------------------[ Main Page Elements ]------------------- */

body {
	text-align: left;
	margin: 0;
	padding: 0;
	color:#333;
	font-size: 9pt;
	line-height:1.5em;
	font-family:Arial, Verdana, sans-serif;
	background: #ddd;
	}

#header {
	clear: both;
	margin: 0 auto;
	padding: 0;
	background:#000;
	}

#head-content {
	width:980px;
	margin: 0 auto;
	height:80px;
	padding: 0;
	}

#sitetitle {
	float:left;
	width:400px;
	height:80px;
	margin:0;
	padding:0;
	}

#sitetitle .title {
	font-size: 30px;
	padding:0;
	margin:15px 0 0;
	text-align:left;
	line-height: 1.2em;
	letter-spacing:-1px;
	color:#fff;
	}

#sitetitle .title a {
	color:#fff;
	}

#sitetitle .description {
	font-size: 9pt;
	padding: 0;
	margin:0;
	text-align:left;
	color:#fff;
	}

#head-banner468 {
	float:right;
	width:468px;
	height:60px;
	margin-top:20px;
	overflow:hidden;
	padding:0;
	background:#fff;
	border:0px solid #ddd;
	}

#wrap {
	clear: both;
	margin: 0px auto;
	padding:0;
	}

#page {
	padding:30px 0;
	clear: both;
	margin: 0 auto;
	width:980px;
	}

#contentleft {
	width: 660px;
	float:left;
	padding:0;
	margin: 0;
	} 

#content {
	width: 658px;
	padding:40px 1px 0;
	margin: 0;
	background:#f5f5f5 url(images/content-bg.gif) 0 0 repeat-y;
	position:relative;
	z-index:1;
	}

#content-full {
	width: 978px;
	padding:40px 1px 0;
	margin: 0;
	background:#f5f5f5 url(images/content-bg-full.gif) 0 0 repeat-y;
	position:relative;
	z-index:1;
	}

.content-top,
.content-top-featured,
.content-top-twitter {
	width: 660px;
	height:50px;
	line-height:50px;
	padding:0;
	margin: 0;
	background:transparent url(images/content-top.gif) top left no-repeat;
	position:absolute;
	z-index:99999;
	top:0;
	left:0;
	clear:both;
	}

#content-full .content-top {
	width: 980px;
	height:50px;
	line-height:50px;
	padding:0;
	margin: 0;
	position:absolute;
	z-index:2;
	top:0;
	left:0;
	display:block;
	background:transparent url(images/content-top-full.gif) top left no-repeat;
	}

#contentright {
	font-size: 9pt;
	width: 300px;	
	float:right;	
	padding: 0 0 20px;	
	margin: 0;
	}

#sidebar {
	width: 300px;	
	float:none;	
	display:block;
	overflow:hidden;
	}

#sidebar-bottom {
	width: 300px;
	clear:both;
	display: block;
	overflow:hidden;
	padding:0;
	}

#sidebar-bottom-left {
	width:160px;
	float:left;
	padding:0;
	margin:0;
	overflow:hidden;
	}

#sidebar-bottom-right {
	width:120px;
	float:right;
	padding:0;
	margin:0;
	overflow:hidden;
	}

#footer {
	width:100%;
	clear: both;
	margin: 0 auto;
	padding: 20px 0;
	background:#000 url(images/foot-border.png) top left repeat-x;
	}

.footer-content {
	color:#ccc;
	width:980px;
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	z-index:1;
	position:relative;
	}

.clearfix:after,
blockquote:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	}

.clearfix,
blockquote {
	display: inline-block;
	}

/* Hides from IE-mac \*/
* html .clearfix,
* html blockquote {
	height: 1%;
	}
.clearfix,
blockquote {
	display: block;
	}
/* End hide from IE-mac */

/* -------------------[ Headings ]------------------- */

h1, h2, h3, h4, h5, h6, h7 {
	font-family: arial, helvetica, sans-serif;
	letter-spacing:-1px;
	margin: 0;
	padding: 0;
	text-align: left;
	font-weight:normal;
	color:#222;
	line-height: 1.2em;
	}

h1 {
	font-size: 24pt;
	margin: 0;
	}

h2 {
	font-size: 20pt;
	}

h3 {
	font-size: 16pt;
	}

h4 {
	font-size: 12pt;
	letter-spacing:0;
	}

h5,h6,h7 {
	font-size: 12pt;
	letter-spacing:0;
	}

.entry h1,.entry h2,.entry h3, .entry h4, .entry h5, .entry h6, .entry h7 {
	margin-bottom: 15px;
	}

h3#postinfo, h3#comments, h3#respond, h3#trackbacks, #respond h3  {
	margin: 0;
	}

h3#comments  {
	margin: 0 0 5px;
	}

h3.post-title, h2.post-title {
	margin:0;
	}

h1.post-title {
	margin:0;
	}

h1.archive-title {
	padding:15px 15px 17px;
	margin:0;
	background:url(images/post-border.gif) bottom left repeat-x;
	}

h1.page-title {
	padding:0;
	margin:0 0 15px;
	}

.sitemap h2 {
	font-size:14pt;
	margin-bottom:5px;
	letter-spacing:0;
	}

.auth-bio h1 {
	margin:0 0 10px;
	}

.content-top h2,
.content-top-featured h2,
.content-top-twitter h2 {
	margin: 0;
	color:#fff;
	font-size:10pt;
	letter-spacing:0;
	height:40px;
	line-height:40px;
	padding: 0 0 0 15px;
	width:500px;
	float:left;
	}

.content-top img {
	margin: 0;
	padding:0;
	float:right;
	}

/* -------------------[ Links ]------------------- */

a, a:link, a:visited {
	text-decoration:none;
	color:#336699;
	}

a:hover, a:active {
	text-decoration:none;
	color:#000000;
	}

a.more-link, 
a.more-link:link, 
a.more-link:visited  {
	width:80px;
	height:24px;
	line-height:24px;
	font-size:11px;
	text-align:center;
	font-weight:bold;
	text-transform:lowercase;
	color:#fff;
	display:block;
	}

a.more-link:hover, 
a.more-link:active  {
	color:#fff;
	}

#footer a, #footer a:link, #footer a:visited {
	color:#ccc;
	}

#footer a:hover, #footer a:active {
	color:#ffcc00
	}

.post-title a, .post-title a:link, .post-title a:visited {
	color:#333;
	text-decoration:none;
	}

.post-title a:hover, .post-title a:active {
	color:#000;
	}
	
/* -------------------[ Images ]------------------- */

.entry img {
	border:1px solid #ddd;
	padding:2px;
	background:#fff;
	max-width:590px;
        }

img.alignright {
	float: right;
	clear: right;
	margin: 0 0 10px 10px;
        }

img.alignleft {
	float: left;
	clear: left;
	margin: 0 10px 10px 0px;
        }

img.aligncenter, img.centered, img.center { 
	display: block; 
	margin: 0 auto 15px auto;  
	float: none; 
	clear: both;
        }

img.thumbnail {
	float:right;
	margin: 0 0 15px 15px;
	border:1px solid #ddd;
	padding:2px;
	background:#fff;
	width:150px;
	}

img.avatar, img.comment-grav {
	border:1px solid #ddd;
	padding:2px;
	background:#fff;
	float:right;
	margin:0 0 10px 10px;
	}

.commentlist img.avatar, img.comment-grav {
	margin-bottom:15px;
	}

.singlepost .auth-bio img.avatar {
	border:1px solid #ddd;
	padding:2px;
	background:#fff;
	float:right;
	margin:0 0 10px 10px;
	}

/* -------------------[ Caption Styles for WP 2.6+ ]------------------- */

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #fff;
	padding-top:5px;
	margin: 0 10px 10px;
	}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
	}

.wp-caption p.wp-caption-text {
	font-size: 8pt;
	padding: 5px;
	margin: 0;
	}

/* -------------------[ Misc Tags and Classes ]------------------- */

p {
	margin-top: 0px;
	margin-bottom: 15px;
	}

ol {
	margin-left: 40px;
	padding: 0;
	}

ul {
	margin-left: 20px;
	padding: 0;
	}

.post ul, .post ol {
	list-style-type: none;
	}

.post ul li {
	list-style-type:none;
	padding: 0;
	margin: 0 0 2px;
	padding-left:10px;
	background:url(images/bullet.gif) 0 5px no-repeat;
	}

.post ul li li {
	padding-left:0;
	background:transparent;
	}

.post ol li {
	list-style-type:decimal;
	margin-left: 0;
	padding-left: 0;
	}

.post ul ul {
	margin-left:0;
	}

form, select {
	margin:0;
	padding:0;
	}

acronym, abbr, span.caps {
	cursor: help;
	}

acronym, abbr {
	border-bottom: 1px solid #999;
	}

* html acronym, abbr {
	border-bottom: 1px dashed #999;
	}

blockquote {
	margin: 0 20px 15px;
	color: #666;
	background:#eee;
	padding: 15px 20px 1px;
	border:1px solid #ddd;
	}

.center {
	text-align: center;
	}

a img, img a {
	border: none;
	}

code {
	font: 1.1em 'Courier New', Courier, Fixed;
	}

hr {
        display: block;
        clear:both;
        }

.navigation {
	padding: 15px; 
	margin: 0;
	clear:both;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	}

.navigation .alignright {
	width:49%;
	float: right;
	text-align:right;
	}
	
.navigation .alignleft {
	width:49%;
	float: left;
	text-align:left;
	}

.alignright {
	float: right;
	}
	
.alignleft {
	float: left;
	}

.aligncenter, div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
        float: none; 
        clear: both;
	}

.banner468 {
	text-align:center;
	margin: 0 auto;
	padding:15px 0px;
	float:none;
	display:block;
	background:url(images/post-border.gif) bottom left repeat-x;
	}

.banner728 {
	text-align:center;
	margin: 0 auto 20px;
	padding:10px 0px;
	border:1px solid #ccc;
	background:#f5f5f5;
	float:none;
	display:block;
	}

input:focus {
	outline: none;
	}

/* -------- [ Table ] -------- */
	
table {
	text-align:center;
	border: 1px solid #fff;
	border-collapse: collapse;
	margin-bottom: 15px; 
	}

table th {
	background:#ddd;
	border: 1px solid #fff;
	padding: 10px; 
	}

table tr {
	background:#eee;
	}

table td {
	border: 1px solid #fff;
	padding: 10px; 
	}

/* ---------------[ Related Posts on Single Post Page ]--------------- */

#related {
	padding:15px;
	margin: 15px 0 0;
	border:1px solid #ddd;
	background:#fff;
	}

#related .related-posts {
	font-weight:bold;
	width: 50%;
	float:right;
	}

#related .related-posts p {
	margin:0;
	}

#related .related-posts ol {
	font-weight:normal;
	margin:0 0 0 25px;
	}

#related .related-posts li {
	margin-bottom: 2px;
	}

#related .subscribe {
	width: 45%;
	float:left;
	padding: 0;
	}

#related .subscribe p.intro {
	font-weight:bold;
	}

#related .subscribe p.feed {
	margin-bottom:10px;
	font-weight:bold;
	padding-left: 21px;
	background: url(images/FeedIcon-16.gif) 0px 50% no-repeat;
	}

#related .subscribe form {
	margin:0;
	padding:0;
	}

/* -------------------[ Author Bio Info ]------------------- */

.auth-bio {
	padding: 15px 15px 0;
	margin: 0;
	background:transparent url(images/post-border.gif) bottom left repeat-x;
	border:0;
	}

.auth-bio img.avatar {
	padding:1px;
	background:#fff;
	border:1px solid #ddd;
	float:right;
	margin:0 0 15px 15px;
	}

p.auth-icons {
	width:40%;
	float:right;
	margin: 0 0 15px;
	padding:0;
	text-align:right;
	}

p.auth-icons img {
	margin: 0 0 0 2px;
	padding:0;
	border:0;
	}

p.auth-website {
	width:40%;
	float:left;
	margin: 0 0 15px;
	padding:0;
	font-weight:bold;
	}

.singlepost .auth-bio {
	padding: 15px;
	margin: 15px 0 0;
	background:#fff;
	border:1px solid #ddd;
	}

/* -------------------[ Comments ]------------------- */

.allcomments {
	padding: 15px 15px 0;
	background:#fff;
	border:1px solid #ddd;
	margin:15px 0;
	}

.commentlist {
	padding: 0;
	list-style-type:none;
	margin: 0 ;
	}

.post ol.commentlist li {
	background: #f5f5f5;
	clear:both;
	margin: 0 0 15px;
	padding: 15px;
	border:1px solid #ddd;
	list-style-type:none;
	}

.commentlist li ul.children li {
	background: #fff;
	}

.commentlist li ul.children li.depth-3,
.commentlist li ul.children li.depth-5,
.commentlist li ul.children li.depth-7,
.commentlist li ul.children li.depth-9 {
	background: #f5f5f5;
	}

.commentlist li ul.children {
	margin: 0;
	padding: 0;
	}

.commentlist li ul.children li {
	margin: 15px 0 0;
	}

.commentlist li.alt { }

.commentmetadata {
	display: block;
	margin-bottom:10px;
	font-size: 8pt;
	}

.commentlist cite {
	font-style:normal;
	font-weight:bold;
	}

#commentform {
	padding: 15px;
	margin: 0;
	background:#fff;
	border:1px solid #ddd;
	}

#commentform input#author,
#commentform input#email,
#commentform input#url,
#commentform textarea {
	padding:10px;
	border:1px solid #ddd;
	background:#f5f5f5;
	}

#commentform input#submit {
	cursor:pointer;
	font-family:arial,helvetica,sans-serif;
	clear:both;
	width:80px;
	height:24px;
	line-height:24px;
	font-size:9pt;
	text-align:center;
	font-weight:bold;
	color:#fff;
	display:block;
	border:0;
	}

p.button-submit {
	margin:0;
	}

#commentform input#submit:hover {
	color:#ffcc00;
	}

#commentform textarea {
	width:80%;
	}

.thread-alt { }	

.thread-even { }

#respond { 
	margin: 0;
	padding:0;
	clear:both; 
	}

.commentlist #respond { 
	margin: 15px 0 0;
	}

.comments-navigation {
	display:block;
	margin: 0;
	padding:10px 0;
	font-weight:bold;
	}

.comments-navigation .alignleft {
	float:left;
	}

.comments-navigation .alignright {
	float:right;
	}

.comments-number {
	font-size:8pt;
	font-weight:bold;
	margin-bottom:0;
	padding:0;
	}

.commentlist img.avatar, 
.commentlist img.comment-grav {
	padding:2px;
	background:#fff;
	border:1px solid #ddd;
	float:right;
	margin:0 0 10px 10px;
	}

.reply {
	margin: 0;
	}

a.comment-reply-link, 
a.comment-reply-link:link, 
a.comment-reply-link:visited, 
.reply a, 
.reply a:link, 
.reply a:visited {
	clear:both;
	padding: 3px 10px;
	font-weight:bold;
	font-size:8pt;
	text-transform:lowercase;
	color:#000;
	background:#ddd;
	border:1px solid #ccc;
	}

a.comment-reply-link:hover, 
a.comment-reply-link:active, 
.reply a:hover, 
.reply a:active {
	background:#fff;
	}

.post ol.commentlist .comment-body ul {
	list-style-type:disc;
	margin:0 30px 15px;
	padding:0;
	border:none;
	}

.post ol.commentlist .comment-body ul li {
	list-style-type:disc;
	margin:0;
	padding:0;
	border:none;
	}

.post ol.commentlist .comment-body ol {
	list-style-type:decimal;
	margin:0 30px 15px;
	padding:0;
	border:none;
	}

.post ol.commentlist .comment-body ol li {
	list-style-type:decimal;
	margin:0;
	padding:0;
	border:none;
	}

.cancel-comment-reply {
	padding: 5px 0 10px;
	}

/* ---------------[ Site Map Page ]--------------- */

.sitemap .post {
	border:0;
	margin:0;
	padding:0;
	}

.sitemap ul {
	list-style-type:none;
	margin-top: 0;
	margin-left: 5px;
	margin-bottom:15px;
	}

.sitemap ul ul {
	margin-left: 0;
	margin-bottom:0;
	}

.sitemap ul ul ul {
	margin-left: 15px;
	}

.sitemap-narrow {
	width:40%;
	float:right;
	padding: 0;
	margin:0 0 15px;
	}

.sitemap-wide {
	width:55%;
	float:left;
	}

/* -------------------[ Top Navigation ]------------------- */

#topnav {
	padding: 0;
	margin: 0;
	font-size:8pt;
	float:right;
	width:560px;
	background:transparent;
	}

#topnav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	float:right;
	}

#topnav li a, 
#topnav li a:link, 
#topnav li a:visited {
	color:#ccc;
	text-decoration: none;
	padding: 0 10px;
	margin:0;
	display: block;
	}

#topnav li a:hover, 
#topnav li a:active  {
	color:#fff;
	background:#000;
	}

#topnav li {
	height:80px;
	line-height:80px;
	float: left;
	padding: 0;
	margin:0px;
	position:relative;
	z-index:99999;
	display: block;
	}

#topnav li ul {
	z-index:99999;
	position: absolute;
	right: 999em;
	height: auto;
	width: 202px;
	margin: 0;
	padding:0;
	background:#000;
	border-top:1px solid #222;
	text-align:right;
	}

#topnav li li {
	height:36px;
	line-height:36px;
	margin:0;
	border:1px solid #222;
	border-top:0;
	}

#topnav ul li ul a {
	width:180px;
	}

#topnav li ul ul {
	margin: -37px 0 0 0;
	}

#topnav li:hover ul ul, 
#topnav li:hover ul ul ul, 
#topnav li.sfhover ul ul, 
#topnav li.sfhover ul ul ul {
	right: 999em;
	z-index:99999;
	}

#topnav li:hover ul, 
#topnav li.sfhover ul {
	right: 0;
	}

#topnav li li:hover ul, 
#topnav li li li:hover ul, 
#topnav li li.sfhover ul, 
#topnav li li li.sfhover ul {
	z-index:99999;
	right: 200px;
	}

#topnav li:hover, 
#topnav li.sfhover {
	z-index:99999;
	width:auto;
	}

#topnav li.current_page_item  {
	padding: 0 10px 0 0;
	}

#topnav li.current_page_item li,
#topnav li li.current_page_item  {
	background: transparent;
	padding: 0;
	}

#topnav li.current_page_item a, 
#topnav li.current_page_item a:link, 
#topnav li.current_page_item a:visited {
	padding: 0 0 0 10px;
	color:#fff;
	}

#topnav li li.current_page_item a, 
#topnav li li.current_page_item a:link, 
#topnav li li.current_page_item a:visited {
	margin:0;
	background: transparent;
	padding: 0 10px;
	display:block;
	}

#topnav li.current_page_item li a, 
#topnav li.current_page_item li a:link, 
#topnav li.current_page_item li a:visited,
#topnav li li.current_page_item li a, 
#topnav li li.current_page_item li a:link, 
#topnav li li.current_page_item li a:visited {
	margin:0;
	background: transparent;
	color:#ccc;
	padding: 0 10px;
	}

#topnav li.current_page_item li a:hover, 
#topnav li.current_page_item li a:active,
#topnav li li.current_page_item a:hover, 
#topnav li li.current_page_item a:active,
#topnav li li.current_page_item li a:hover, 
#topnav li li.current_page_item li a:active {
	padding: 0 10px;
	margin:0;
	background: transparent;
	color:#fff;
	}

/* -------------------[ Category Navigation ]------------------- */

#catnav {
	padding: 0;
	margin: 0 auto;
	font-size:8pt;
	clear:both;
	width:100%;
	border-top:1px solid #222;
	background:#0D0D0D;
	}

.catnav-content {
	padding: 0;
	margin: 0 auto;
	clear:both;
	width:980px;
	border-left:1px solid #222;
	}

#catnav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	clear:both;
	}

#catnav ul a, 
#catnav ul a:link, 
#catnav ul a:visited {
	color:#ccc;
	display: block;
	text-decoration: none;
	padding: 0 10px;
	margin:0;
	}

#catnav ul a:hover, 
#catnav ul a:active  {
	color:#fff;
	background:#000;
	}

#catnav li {
	height:36px;
	line-height:36px;
	float: left;
	padding: 0;
	margin:0px;
	border-right:1px solid #222;
	}

#catnav li ul {
	z-index:9999;
	position: absolute;
	left: -999em;
	height: auto;
	width: 252px;
	margin: 0;
	padding:0;
	background:#000;
	border-top:1px solid #222;
	}

#catnav li li {
	margin-right:0;
	border:1px solid #222;
	border-top:0;
	}

#catnav ul li ul a {
	width:230px;
	}

#catnav li ul ul {
	margin: -37px 0 0 250px;
	}

#catnav li:hover ul ul, 
#catnav li:hover ul ul ul, 
#catnav li.sfhover ul ul, 
#catnav li.sfhover ul ul ul {
	left: -999em;
	}

#catnav li:hover ul, 
#catnav li li:hover ul, 
#catnav li li li:hover ul, 
#catnav li.sfhover ul, 
#catnav li li.sfhover ul, 
#catnav li li li.sfhover ul {
	left: auto;
	}

#catnav li:hover, 
#catnav li.sfhover {
	width:auto;
	}

/* ---------------[ New 125x125 Banner Ads ]--------------- */

.banner125 {

	}

.banner125 .ad img {
	float:left;
	width:125px;
	height:125px;
	margin:0 0 4px 0;
	padding:5px;
	background:#fff;
	border:1px solid #ddd;
	}

.banner125 .ad.right img {
	float:right;
	}



/* -------------------[ Social Media Icons ]------------------- */

.sub-icons {
	height:32px;
	line-height:32px;
	padding:0;
	margin:0;
	}

.sub-icons a {
	margin:0 7px 0 0;
	float:left;
	background:transparent;
	padding:0;
	display:block;
	}

#footer .sub-icons {
	position:absolute;
	top: 5px;
	right:0; 
	z-index:9999;
	}

#footer .sub-icons a, #footer .sub-icons a:link, #footer .sub-icons a:visited {
	margin:0 0 0 7px;
	border:0;
	padding:0;
	}

/* --------------[ Basic Post Classes ]-------------- */

.post, .page {
	margin: 0;
	padding: 15px 15px 17px;
	background:url(images/post-border.gif) bottom left repeat-x;
	overflow:hidden;
	}

.entry {
	margin: 0;
	padding: 0;
	}

.singlepost .entry,
.singlepage .entry {
	margin: 0;
	padding: 15px 15px 1px;
	background:#fff;
	border:1px solid #ddd;
	}

.singlepage .post {
	background:transparent;
	border-bottom:1px solid #ccc;
	}

.meta {
	margin: 0 0 15px;
	padding:0;
	clear:none;
	font-size: 8pt;
	color:#999;
	}

#slideshow .meta {
	color:#333;
	}

p#breadcrumbs {
	font-weight:bold;
	height:40px;
	line-height:40px;
	overflow:hidden;
	padding: 0 15px;
	font-size:10px;
	margin: 0;
	color:#fff;
	clear:both;
	}

p#breadcrumbs a,
p#breadcrumbs a:link,
p#breadcrumbs a:visited {
	color:#ffcc00;
	}

p#breadcrumbs a:hover,
p#breadcrumbs a:active {
	color:#fff;
	}

p.tags {
	margin-bottom:3px;  
	background:url(images/tag.gif) 0 3px no-repeat;
	padding-left:16px;
	clear:both;
	}

p.cats {
	background:url(images/folder.gif) 0 3px no-repeat;
	padding-left:16px;
	clear:both;
	}

.single-video {
	padding:4px;
	background:#fff;
	border:1px solid #ddd;
	margin: 0 auto 20px;
	}

/* --------------[ Home Page Option 2 - Blog Layout with Thumbnails to Left ( index2 ) ]-------------- */

.entry.basic-1 {
	margin: 0;
	padding: 15px 15px 1px;
	background:#fff;
	border:1px solid #ddd;
	}

.entry.basic {
	margin: 0;
	padding: 15px 15px 1px;
	float:right;
	background:#fff;
	border:1px solid #ddd;
	width:450px;
	position:relative;
	z-index:1;
	}

.entry-arrow {
	background:url(images/entry-arrow.gif) top right no-repeat;
	width:14px;
	height:29px;
	position:absolute;
	z-index:2;
	left:-14px;
	top:15px;
	}

.postinfo-left {
	float:left;
	width:135px;
	padding:0;
	margin:0;
	}

.postinfo-left img.thumbnail {
	width:120px;
	display:block;
	float:none;
	margin: 0 0 10px;
	}

p.meta.author {
	font-weight:bold;
	font-size:10px;
	padding: 0 0 8px 21px;
	background:url(images/ico-person.gif) 0 2px no-repeat;
	margin:0 0 8px;
	border-bottom:1px dotted #ddd;
	}

p.meta.date {
	font-weight:bold;
	font-size:10px;
	padding: 0 0 8px 21px;
	background:url(images/ico-cal.gif) 0 2px no-repeat;
	margin:0 0 8px;
	border-bottom:1px dotted #ddd;
	}

p.meta.comments {
	font-weight:bold;
	font-size:10px;
	padding: 0 0 0px 21px;
	background:url(images/ico-comment.gif) 0 2px no-repeat;
	margin:0;
	}

.entry.basic h2.post-title {
	margin-bottom:15px;
	}


/* --------------[ Home Page Option 3 - 2 Posts Aligned Side-by-Side ( index3 ) ]-------------- */

.post-by-2 {
	margin: 0;
	padding: 15px 15px 7px;
	background:url(images/post-border.gif) bottom left repeat-x;
	overflow:hidden;
	}

.post-by-2 .post,
.post-by-2 .page {
	margin: 0;
	padding: 0;
	background:transparent;
	overflow:hidden;
	}

.post-by-2 .meta {
	font-size:8pt;
	}

.post-left {
	clear:left;
	float:left;
	width: 44%;
	margin: 0 0 10px;
	padding:15px 15px 1px;
	background:#fff;
	border:1px solid #ddd;
	}

.post-right {
	clear:right;
	float:right;
	width: 44%;
	margin: 0 0 10px;
	padding:15px 15px 1px;
	background:#fff;
	border:1px solid #ddd;
	}

.post-by-2 img.thumbnail {
	float:right;
	margin: 0 0 5px 10px;
	width:80px;
	}

.post-clear {
	clear:both;
	height:0;
	padding:0;
	background:transparent;
	}

.post-by-2 .entry {
	height:180px;
	overflow:hidden;
	margin: 0 0 10px;
	}

.post-by-2 h2.post-title {
	margin:0;
	letter-spacing:0;
	font-size:12pt;
	line-height:1.2em;
	}

/* -------------------[ Home Page Option 4 - Posts Arranged by Category Side-by-Side ( index4 ) ]------------------- */

.cats-by-2 {
	margin: 0;
	padding: 15px 15px 5px;
	background:transparent;
	overflow:hidden;
	border-bottom:1px solid #ccc;
	}

.cat-posts-left {
	width:44%;
	float:left;
	margin: 0 0 10px;
	padding: 15px 15px 1px;
	background:#fff;
	border:1px solid #ddd;
	overflow:hidden;
	}

.cat-posts-right {
	width:44%;
	float:right;
	margin: 0 0 10px;
	padding: 15px 15px 1px;
	background:#fff;
	border:1px solid #ddd;
	overflow:hidden;
	}

.cats-by-2 .post {
	margin: 0 0 1px;
	padding: 15px 0 0;
	background:#fff;
	border:0;
	overflow:hidden;
	border-top:1px dotted #ccc;
	}

.cats-by-2 img.thumbnail {
	float:right;
	margin: 0 0 5px 10px;
	width:75px;
	}

.cats-by-2 .entry {
	height:145px;
	overflow:hidden;
	margin: 0 0 15px;
	}

.cats-by-2 h3.post-title {
	margin:0;
	letter-spacing:0;
	font-size:12pt;
	line-height:1.2em;
	}

h2.feat-title  {
	font-size:16pt;
	padding: 5px 10px;
	margin-bottom:15px;
	background:#eee;
	border:1px solid #ddd;
	}

/* -------------------[ Home Page Option 5 - Posts Arranged by Category Stacked ( index5 ) ]------------------- */

.cat-posts-stacked {
	display:block;
	margin: 0 0 10px;
	padding: 15px 15px 1px;
	background:#fff;
	border:1px solid #ddd;
	overflow:hidden;
	}

.cat-posts-stacked .post {
	margin: 0 0 1px;
	padding: 15px 0 0;
	background:#fff;
	border:0;
	overflow:hidden;
	border:0;
	border-top:1px dotted #ccc;
	}

.cats-by-2 .cat-posts-stacked .entry {
	height:auto;
	overflow:hidden;
	margin: 0;
	}

.cats-by-2 .cat-posts-stacked img.thumbnail {
	float:right;
	margin: 0 0 5px 10px;
	width:100px;
	}

.cat-posts-stacked h3.post-title {

	}

/* -------------------[ Widgets ]------------------- */

.widget {
	margin: 0 0 20px;
	padding:0;
	overflow:hidden;
	border:1px solid #ccc;
	border-bottom:0;
	background:#eee;
	}

.widget ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

.widget li {
	border-top:1px solid #fff;
	border-bottom:1px solid #ccc;
	list-style-type: none;
	margin: 0;
	padding: 5px 10px 5px 20px;
	background:url(images/bullet.gif) 10px 9px no-repeat;
	}

.widget .textwidget {
	border-top:1px solid #fff;
	border-bottom:1px solid #ccc;
	padding: 10px;
	}

.widget li li {
	list-style-type: none;
	margin: 0;
	border:0;
	padding: 0;
	background:transparent;
	}

.widget li li li {
	padding-left: 15px;
	}

.widget li li {
	list-style-type: none;
	margin: 0;
	border:0;
	padding: 0;
	background:transparent;
	}

.widget li li li {
	padding-left: 15px;
	}

h3.widgettitle {
	font-size:14pt;
	padding: 5px 10px;
	border-bottom:1px solid #ccc;
	border-top:1px solid #f5f5f5;
	margin-bottom:0;
	background:#e5e5e5;
	}

/* -------------------[ Sidebar Bottom Widgets ]------------------- */

#sidebar-bottom .widget {
	margin: 0 0 20px;
	padding:0;
	overflow:hidden;
	border:0;
	border-bottom:0;
	background:transparent;
	}

#sidebar-bottom .widget li {
	border-top:0;
	border-bottom:0;
	list-style-type: none;
	margin: 0;
	padding: 5px 0 5px 10px;
	background:url(images/bullet.gif) 0px 9px no-repeat;
	}

#sidebar-bottom .widget .textwidget {
	border-bottom:0;
	padding: 0;
	}

#sidebar-bottom h3.widgettitle {
	font-size:10pt;
	letter-spacing:0;
	padding: 0 0 5px;
	border-bottom:1px solid #ccc;
	border-top:0;
	margin-bottom:0;
	background:transparent;
	}

/* -------------------[ Footer Widgets ]------------------- */

#footer-widgets {
	clear: both;
	margin: 0 auto;
	padding:0;
	width:100%;
	border-top:1px solid #006699;
	color:#eee;
	background:#006699 url(images/footer-bg.png) top center no-repeat;
	}

#footer-widgets .content {
	clear: both;
	margin: 0 auto;
	padding:25px 0 10px;
	width:980px;
	}

#footer-widgets h3.widgettitle {
	font-size:18pt;
	padding: 0 0 5px;
	margin-bottom:10px;
	color:#eee;
	text-shadow:1px 1px 1px #006699;
	border:0;
	background:url(images/foot-border.png) bottom left repeat-x
	}

#footer-widgets .widget {
	margin: 0 0 10px;
	padding:0;
	overflow:hidden;
	border:0;
	background:transparent;
	}

#footer-widgets .widget li {
	border:0;
	padding: 0 0 0 16px;
	background:url(images/bullet-side-dk.gif) 0px 4px no-repeat;
	margin-bottom:5px;
	}

#footer-widgets .widget .textwidget {
	border:0;
	padding: 0;
	}

#footer-widgets a,
#footer-widgets a:link,
#footer-widgets a:visited {
	color:#fff;
	}

#footer-widgets a:active,
#footer-widgets a:hover {
	color:#000;
	}

#footer-widgets select {
	width:200px;
	margin: 0;
	border:1px solid #ddd;
	}

#footer-widgets .footer-widget1 {
	float:left;
	width:300px;
	margin: 0 40px 0 0;
	overflow:hidden;
	}

#footer-widgets .footer-widget2 {
	float:left;
	width:300px;
	margin: 0;
	overflow:hidden;
	}

#footer-widgets .footer-widget3 {
	float:right;
	width:300px;
	margin: 0;
	overflow:hidden;
	}

#footer-widgets .footer-widget4 {
	float:right;
	width:160px;
	margin: 0;
	overflow:hidden;
	}

.widget_flickrRSS img {
	margin: 0 5px 5px 0;
	background: #000;
	padding: 5px;
	width:75px;
	height:75px;
	}

/* -------------------[ Subscribebox Widget ]------------------- */

.widget.subscribebox {
	margin: 0 0 20px;
	padding:5px 0 0;
	background:url(images/widget-corners.png) top left no-repeat;
	overflow:hidden;
	color:#ccc;
	width:300px;
	}

.widget.subscribebox .widget-wrap {
	margin: 0;
	padding:0 2px 12px;
	background:url(images/widget-bg.png) bottom no-repeat;
	overflow:hidden;
	color:#ccc;
	width:296px;
	}

.widget.subscribebox h3.widgettitle {
	padding: 0;
	border:0;
	margin:0;
	color:#fff;
	font-size:14pt;
	background:transparent;
	}

.widget.subscribebox .intro {
	margin: 0;
	padding:10px 15px 12px;
	background:url(images/side-bot-border.gif) bottom left repeat-x;
	}

.widget.subscribebox ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

.widget.subscribebox li {
	border:0;
	list-style-type: none;
	margin: 0;
	padding: 0 0 2px;
	background:transparent;
	background:url(images/side-bot-border.gif) bottom left repeat-x !important;
	}

.widget.subscribebox a,
.widget.subscribebox a:visited,
.widget.subscribebox a:link {
	font-size:8pt;
	border:0;
	margin: 0;
	padding: 10px 15px 12px 57px;
	list-style-type: none;
	color:#ccc;
	display:block;
	line-height:1.2em;
	}

.widget.subscribebox li.feed a {
	background:url(images/rss2.png) 15px 10px no-repeat; 
	}

.widget.subscribebox li.twitter a {
	background:url(images/twitter2.png) 15px 10px no-repeat; 
	}

.widget.subscribebox li.facebook a {
	background:url(images/facebook2.png) 15px 10px no-repeat; 
	}

.widget.subscribebox li.linkedin a {
	background:url(images/linkedin2.png) 15px 10px no-repeat; 
	}

.widget.subscribebox li.flickr a {
	background:url(images/flickr2.png) 15px 10px no-repeat; 
	}

.widget.subscribebox li.youtube a {
	background:url(images/youtube2.png) 15px 10px no-repeat; 
	}

.widget.subscribebox a:active,
.widget.subscribebox a:hover {
	color:#fff !important;
	background-color:#000 !important;
	}

.widget.subscribebox a .title,
.widget.subscribebox a:visited .title,
.widget.subscribebox a:link .title {
	font-weight:bold;
	letter-spacing:-1px;
	font-size:12pt;
	margin: 0;
	line-height:1.2em;
	}

p.email-form {
	width:220px;
	height:24px;
	margin:0;
	padding:0;
	}

p.email-form .sub {
	color:#333;
	float:left;
	padding:0 0 0 27px;
	width:130px;
	margin: 4px 0 0;
	border:0;
	background:transparent;
	}

p.email-form .subbutton {
	margin: 0;
	float:right;
	font-size:8pt;
	width:52px;
	height:24px;
	text-align:center;
	border:0;
	text-indent:-10000em;
	background: transparent;
	border:0;
	}

/* -------------------[ Side Tabs ]------------------- */

.widget.sidetabs {  
	margin: 0 0 20px;
	padding:0;
	color:#ccc;
	width:300px;
	}

.widget.sidetabs ul.tabs {  
	list-style-type:none;
	margin: 0;
	padding: 0 6px;
	clear:both;
	width:288px;
	height:44px;
	}

.widget.sidetabs ul.tabs li {
	border:0;
	background:transparent !important;
	float: left;
	display: inline;
	margin: 0;
	padding: 0;
	}
 
.widget.sidetabs ul.tabs li a, 
.widget.sidetabs ul.tabs li a:link, 
.widget.sidetabs ul.tabs li a:visited  {
	float: left;
	display: block;
	padding: 12px 6px 8px;
	color: #fff;
	font-weight:bold;
	font-size:8pt;
	height:24px;
	line-height:24px;
	}

.widget.sidetabs ul.tabs li a:hover, 
.widget.sidetabs ul.tabs li a:active {
	color: #000;
	}

.widget.sidetabs ul.tabs li a.on,
.widget.sidetabs ul.tabs li a.on:link,
.widget.sidetabs ul.tabs li a.on:visited {
	color: #fff !important;
	position:relative;
	padding-right:12px;
	padding-left: 12px;
	display: block;
	}

.widget.sidetabs ul.tabs li a.on span {
	width:12px;
	height:44px;
	display:block;
	position:absolute;
	top:0;
	right:0;
	}

.widget.sidetabs form {
	margin: 0 !important;
	padding: 0 !important;
	}

.widget.sidetabs select {
	margin: 0;
	padding: 0;
	width:160px;
	}

.widget.sidetabs li {
	border:0;
	margin: 0;
	padding: 0;
	background:transparent;
	}

.widget.sidetabs .cat_content {
	margin: 0;
	padding:0px 2px 10px;
	background:url(images/widget-bg.png) bottom left no-repeat;
	overflow:hidden;
	color:#ccc;
	width:296px;
	}

.widget.sidetabs .cat_content li {
	list-style-type:none;
	background:url(images/side-bot-border.gif) bottom left repeat-x !important;
	padding: 0 0 2px;
	margin:0;
	}

.widget.sidetabs .cat_content li a,
.widget.sidetabs .cat_content li a:link,
.widget.sidetabs .cat_content li a:visited,
.widget.sidetabs .cat_content ul.side-arc li {
	padding: 7px 15px 7px 28px;
	display:block;
	color:#ccc !important;
	margin:0;
	background:url(images/bullet-side-dk.gif) 15px 12px no-repeat;
	}

.widget.sidetabs .cat_content ul.side-arc li {
	padding: 11px 15px 13px 15px;
	color:#ccc;
	margin:0;
	background:url(images/side-bot-border.gif) bottom left repeat-x;
	clear:both;
	display:block;
	}

.widget.sidetabs .cat_content ul.side-arc li form,
.widget.sidetabs .cat_content ul.side-arc li select {
	float:left;
	width:160px;
	padding:0;
	border:1px solid #ddd;
	}

.widget.sidetabs .cat_content ul.side-arc li form {
	border:0;
	}

.widget.sidetabs .cat_content ul.side-arc li p.title {
	float:left;
	width:80px;
	margin: 0;
	}

.widget.sidetabs .popular p {
	margin:0;
	padding: 15px 13px 5px;
	}

.widget.sidetabs .popular li a,
.widget.sidetabs .popular li a:link,
.widget.sidetabs .popular li a:visited {
	padding-left:32px;
	background: url(images/bullet-star.png) 15px 11px no-repeat !important;
	}

.widget.sidetabs .side-recent-comments li a,
.widget.sidetabs .side-recent-comments li a:link,
.widget.sidetabs .side-recent-comments li a:visited {
	padding-left:32px;
	background-image: url(images/bullet-comment.png) !important;
	}

.widget.sidetabs .cat_content li a:hover,
.widget.sidetabs .cat_content li a:active,
.widget.sidetabs .cat_content .popular li a:hover,
.widget.sidetabs .cat_content .popular li a:active,
.widget.sidetabs .cat_content .side-recent-comments li a:hover,
.widget.sidetabs .cat_content .side-recent-comments li a:active {
	background-color:#000 !important;
	color:#fff !important;
	margin:0;
	}

/* -------------------[ YouTube Videos Widget ]------------------- */

.widget.videoslide {
	border:1px solid #ccc;
	border-bottom:0;
	}

.widget li.vid-post-title {
	border:0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background:transparent;
	}

.vid-post-title a,
.vid-post-title a:link,
.vid-post-title a:visited {
	border-bottom:1px solid #ccc;
	border-top:1px solid #fff;
	list-style-type: none;
	margin: 0;
	padding: 5px 10px;
	background:#eee;
	display:block;
	}

.vid-post-title a:hover,
.vid-post-title a:active,
.widget li.vid-post-title a.activeSlide {
	color:#000;
	background:#e5e5e5;
	border-top:1px solid #f5f5f5;
	}

.widget li.vid-post-title a.activeSlide {
	color:#000;
	font-weight:bold;
	}

.widget.videoslide .slides li {
	margin:0 auto;
	width:280px;
	height:240px;
	padding:9px;
	border-top:1px solid #fff;
	overflow:hidden;
	background:#eee;
	}

.videoslide .slides {
	margin:0 auto;
	width:298px;
	height:258px;
	padding:0;
	border:0;
	overflow:hidden;
	background:transparent;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	}

.videoslide h3.widgettitle {
	border: 0;
	padding:7px 10px;
	background:#e5e5e5;
	border-top:1px solid #f5f5f5;
	margin:0;
	font-size:14pt;
	}

.videoslide .slides-nav {
	border-bottom:0;
	border-top:0;
	}

/* ---------[ Search Form ]--------- */

form#searchform {
	width:160px;
	height:22px;
	padding:0;
	margin:0;
	background: url(images/searchbg.gif) top right no-repeat;
	border:0;
	}

#searchform #searchfield {
	float:left;
	padding:0;
	width:120px;
	margin: 3px 0 0 3px;
	border:0;
	background:transparent;
	}

#searchform #submitbutton {
	margin: 0;
	float:right;
	font-size:8pt;
	width:24px;
	height:22px;
	text-align:center;
	border:0;
	text-indent:-10000em;
	background: transparent;
	border:0;
	}

/* ---------[ Slideshow ]--------- */

#home-top {
	margin:0 auto;
	padding:0;
	width:100%;
	height:450px;
	padding: 0;
	border-bottom:1px solid #f5f5f5;
	}

#slideshow {
	margin: 0 auto;
	width:980px;
	height:350px;
	padding: 25px 5px 75px;
	background:url(images/feat-slide-bg.png) top left no-repeat;
	position:relative;
	z-index:1;
	}

#slideshow ul {
	background:transparent;
	margin: 0;
	padding: 0;
	list-style-type: none;
	}

/* ---------[ Slideshow Slides ]--------- */

#slideshow .slides {
	overflow: hidden;
	clear:both;
	margin:0;
	padding:0;
	background:transparent;
	}

#slideshow .slides ul {
	overflow: hidden;
	background:transparent;
	}

#slideshow .slides li {
	margin: 0;
	list-style-type: none;
	display:none;
	overflow: hidden;
	height:286px; 
	width:916px;
	padding:32px;
	position:relative;
	z-index:2;
	background:transparent;
	}

.js #slideshow .slides li {
	margin: 0;
	height:286px; 
	width:916px;
	padding:32px;
	list-style-type: none;
	display:block;
	overflow: hidden;
	position:relative;
	z-index:2;
	background:transparent !important;
	}

#slideshow .slides li .feature-image-wide {
	height:328px; 
	width:958px;
	padding:11px;
	margin: 0;
	overflow:hidden;
	text-align:center;
	position:relative;
	z-index:3;
	}

#slideshow .slides li .feature-image-wide .entry {
	height:266px; 
	width:250px;
	padding:20px;
	margin: 0;
	overflow:hidden;
	text-align:left;
	position:absolute;
	z-index:4;
	bottom:22px;
	left:22px;
	background: #000;
	}

#slideshow img.home_feature_wide {
	margin:0;
	height:328px; 
	width:958px;
	padding: 0;
	}

#slideshow .slides li .feature-video {
	height:260px; 
	width:390px;
	padding:13px 13px 0 0;
	float:right;
	margin: 0;
	overflow:hidden;
	}

#slideshow .slides li .feature-image {
	height:260px; 
	width:390px;
	padding:13px 13px 0 0;
	float:right;
	margin: 0;
	overflow:hidden;
	}

#slideshow img.home_feature {
	height:260px; 
	width:390px;
	}

#slideshow .slides li .entry {
	text-align:left;
	float:left;
	width:450px;
	overflow:hidden;
	padding: 0;
	margin:0;
	font-size:9pt;
	color:#000;
	}

#slideshow .slides a.more-link {
	position:absolute;
	bottom:32px;
	left:32px;
	z-index:9999; 
	}

#slideshow .slides .feature-image-wide a.more-link {
	position:absolute;
	bottom:15px;
	left:15px;
	z-index:9999; 
	}

#slideshow .slides li .entry h2.post-title {
	font-size:18pt;
	line-height:1.1em;
	margin-bottom:10px;
	}

#slideshow .slides li .feature-image-wide .entry,
#slideshow .slides li .feature-image-wide .entry a,
#slideshow .slides li .feature-image-wide .entry h2.post-title, 
#slideshow .slides li .feature-image-wide .entry h2.post-title a, 
#slideshow .slides li .feature-image-wide .entry h2.post-title a:link,
#slideshow .slides li .feature-image-wide .entry h2.post-title a:visited,
#slideshow .slides li .feature-image-wide .entry h2.post-title a:hover,
#slideshow .slides li .feature-image-wide .entry h2.post-title a:active {
	color:#fff;
	}

#slideshow .slides li .feature-image-wide .entry h2.post-title {
	margin-bottom:10px;
	}
/* ---------[ Slideshow Navigation ]--------- */

#slideshow  ul.slides-nav {
	clear:both;
	margin:0;
	padding: 0;
	height:14px;
	line-height:14px;
	position:absolute;
	bottom:16px;
	right:10px;
	z-index:99999;
	}

.js #slideshow .slides-nav li,
#slideshow .slides-nav li {
	margin:0 0 0 7px;
	padding:0;
	list-style-type:none;
	float:left;
	height:14px;
	width:14px;
	line-height:14px;
	float:left  !important;
	display:inline !important;
	}

.js #slideshow .slides-nav li a,
#slideshow .slides-nav li a {
	display:block;
	padding:0;
	list-style-type:none;
	display:block;
	height:14px;
	line-height:14px;
	width:14px;
	background:url(images/feat-nav-bg.png) top left no-repeat;
	float:left  !important;
	}

#slideshow .slides-nav li.on a, 
.js #slideshow .slides-nav li.on a,
.js #slideshow .slides-nav li a:hover,
.js #slideshow .slides-nav li a:active {
	background:url(images/feat-nav-bg.png) bottom left no-repeat;
	float:left !important;
	}

/* ---------[ Slideshow Featured News ]--------- */

#news-icon {
	position:absolute;
	z-index:9999;
	bottom:-15px;
	left:0;
	width:79px;
	height:70px;
	background:url(images/news1.png) bottom left no-repeat;
	display:block;
	}

#featured-news {
	position:absolute;
	z-index:9999;
	bottom:0;
	left:0;
	width:660px;
	height:50px;
	}

.featured-news-content {
	display:table-cell;
	height:50px;
	color:#fff;
	margin:0;
	padding:0 0 0 85px;
	font-size:8pt;
	vertical-align:middle;
	line-height:1.5em;
	}

.featured-news-content a,
.featured-news-content a:link,
.featured-news-content a:visited {
	color:#fff;
	border-bottom:1px dotted #fff;
	}

.featured-news-content a:active,
.featured-news-content a:hover {
	color:#000;
	border-bottom:1px dotted #000;
	}

/* ---------[ Narrow Slideshow ]--------- */

#home-top-narrow {
	width:660px;
	padding: 0;
	border-bottom:0;
	padding:0;
	margin: 0;
	background:transparent url(images/content-bg.gif) top left repeat-y;
	}

#home-top-narrow #slideshow {
	margin: 0 auto;
	width:630px;
	height:232px;
	padding: 55px 15px 15px;
	background:transparent url(images/loading.gif) 50% 50% no-repeat;
	position:relative;
	z-index:1;
	}

#home-top-narrow #slideshow ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	}

/* ---------[ Slideshow Slides ]--------- */

#home-top-narrow #slideshow .slides {
	overflow: hidden;
	clear:both;
	margin:0;
	padding:0;
	}

#home-top-narrow #slideshow .slides ul {
	overflow: hidden;
	}

#home-top-narrow #slideshow .slides li,
#home-top-narrow .js #slideshow .slides li {
	margin: 0;
	list-style-type: none;
	display:none;
	overflow: hidden;
	width:598px;
	height:200px;
	padding:15px;
	border:1px solid #ddd;
	position:relative;
	z-index:2;
	background:#fff !important;
	}

#home-top-narrow #slideshow .slides li.full-image,
#home-top-narrow .js #slideshow .slides li.full-image {
	margin: 0;
	list-style-type: none;
	display:none;
	overflow: hidden;
	width:628px;
	height:230px;
	padding:0;
	border:1px solid #ddd;
	position:relative;
	z-index:2;
	background:#fff !important;
	}

#home-top-narrow #slideshow .slides li .feature-image-wide {
	width:626px;
	height:228px;
	padding:0;
	border:1px solid #fff;
	margin: 0;
	overflow:hidden;
	text-align:center;
	position:relative;
	z-index:3;
	}

#home-top-narrow #slideshow .slides li .feature-image-wide .entry {
	width:606px;
	height:auto;
	padding:10px;
	margin: 0;
	overflow:hidden;
	text-align:left;
	position:absolute;
	z-index:4;
	bottom:0;
	left:0;
	background: #000;
	}

#home-top-narrow #slideshow .slides li .feature-image-wide .entry .excerpt {
	height:2.8em;
	overflow:hidden;
	font-size:9pt;
	line-height:1.4em;
	}

#home-top-narrow #slideshow img.home_feature_wide {
	margin:0;
	width:626px;
	height:228px;
	padding: 0;
	}

#home-top-narrow #slideshow .slides li.full-image .entry p {
	display:inline;
	font-size:9pt;
	letter-spacing:0;
	line-height:1.4em;
	margin:0;
	}

#home-top-narrow #slideshow .slides li .feature-video {
	height:194px; 
	width:291px;
	padding:2px;
	border:1px solid #ddd;
	float:right;
	margin: 0;
	overflow:hidden;
	}

#home-top-narrow #slideshow .slides li .feature-image {
	height:194px; 
	width:291px;
	padding:2px;
	border:1px solid #ddd;
	float:right;
	margin: 0;
	overflow:hidden;
	}

#home-top-narrow #slideshow img.home_feature {
	height:194px; 
	width:291px;
	}

#home-top-narrow #slideshow .slides li .entry {
	text-align:left;
	float:left;
	height:190px; 
	width:270px;
	overflow:hidden;
	padding: 0;
	margin:0;
	font-size:9pt;
	line-height:1.4em;
	}

#home-top-narrow #slideshow .slides a.more-link {
	position:absolute;
	bottom:14px;
	left:14px;
	z-index:9999; 
	}

#home-top-narrow #slideshow .slides li .entry h2.post-title, 
#home-top-narrow #slideshow .slides li .entry h2.post-title a, 
#home-top-narrow #slideshow .slides li .entry h2.post-title a:link,
#home-top-narrow #slideshow .slides li .entry h2.post-title a:visited,
#home-top-narrow #slideshow .slides li .entry h2.post-title a:hover,
#home-top-narrow #slideshow .slides li .entry h2.post-title a:active {
	font-size:16pt;
	line-height:16pt;
	margin-bottom:15px;
	}

/* ---------[ Slideshow Navigation ]--------- */

#home-top-narrow #slideshow  ul.slides-nav {
	clear:both;
	margin:0 auto;
	padding: 0;
	position:absolute;
	top:13px;
	right:13px;
	z-index:99999;
	height:14px;
	line-height:14px;
	}

.js #home-top-narrow #slideshow .slides-nav li,
#home-top-narrow #slideshow .slides-nav li {
	margin:0 0 0 7px;
	padding:0;
	list-style-type:none;
	float:left;
	height:14px;
	width:14px;
	line-height:14px;
	float:left  !important;
	display:inline !important;
	}

.js #home-top-narrow #slideshow .slides-nav li a,
#home-top-narrow #slideshow .slides-nav li a {
	display:block;
	padding:0;
	list-style-type:none;
	display:block;
	height:14px;
	line-height:14px;
	width:14px;
	background:url(images/feat-nav-bg.png) top left no-repeat;
	float:left  !important;
	}

#home-top-narrow #slideshow .slides-nav li.on a, 
.js #home-top-narrow #slideshow .slides-nav li.on a,
.js #home-top-narrow #slideshow .slides-nav li a:hover,
.js #home-top-narrow #slideshow .slides-nav li a:active {
	background:url(images/feat-nav-bg.png) bottom left no-repeat;
	float:left !important;
	}

/* ---------[ Latest Tweet ]--------- */

#recentweet {
	margin:0;
	padding: 55px 0 15px;
	position:relative;
	z-index:1;
	background:#f5f5f5 url(images/content-bg.gif) 0 0 repeat-y;
	}

#recentweet .tweet-content-2 {
	border:1px solid #ddd;
	padding: 10px 15px 8px 65px;
	background:#fff url(images/twit-2.gif) 10px 10px no-repeat;
	color:#333;
	font-size:9pt;
	line-height:1.5em;
	display:block;
	margin: 5px 15px 0;
	}

#recentweet .tweet-entry {
	display:table-cell;
	vertical-align:middle;
	height:50px;
	}

#recentweet ul,
#recentweet li {
	list-style-type:none;
	margin:0;
	padding:0;
	display:inline;
	}

#recentweet a,
#recentweet a:link,
#recentweet a:visited {
	color:#333;
	border-bottom:1px dotted #333;
	}

#recentweet a:active,
#recentweet a:hover {
	color:#000;
	border-bottom:1px solid #000;
	}

#recentweet span {
	margin-right:5px;
	}

/* ---------[ Recent Galleries ]--------- */

#recent-photos {
	position: static;
	bottom:auto;
	left: auto;
	width:auto;
	height:auto;
	margin:0;
	padding: 55px 0 0;
	position:relative;
	z-index:1;
	background:transparent url(images/content-bg.gif) top left repeat-y;
	width:660px;
	}

.photos-content {
	padding: 0 15px;
	margin:0;
	}

.photos-content .post {
	margin: 0 14px 14px 0;
	padding: 0;
	background:transparent;
	float:left;
	overflow:hidden;
	width:147px;
	}

.photos-content .post.right {
	margin: 0 0 12px 0;
	float:right;
	}

.photos-content h2.post-title {
	font-size:8pt;
	letter-spacing:0;
	margin: 0;
	line-height:1.4em;
	font-weight:normal;
	text-align:center;
	padding:5px 5px 0;
	}

.photos-content img.thumbnail {
	display:block;
	float:none;
	margin: 0;
	border:1px solid #ccc;
	padding:1px;
	background:#fff;
	width:143px;
	}

#slider-position{
	position: relative;
	left: 0px;
	right: 0px;
	//border: 1px solid red;
	//margin: 0px auto;
	padding: 0px;
}

#metaslider_55{
	margin: 0px;
}