/* -------------------[ IE6 Fixes ]------------------- */

#topnav li.current_page_item  {
	background: transparent;
	padding: 0;
	}

#topnav li.current_page_item a, 
#topnav li.current_page_item a:link, 
#topnav li.current_page_item a:visited {
	padding: 0 10px;
	color:#fff;
	background: transparent;
	}

#topnav li.current_page_item li,
#topnav li li.current_page_item  {
	background: transparent;
	padding: 0;
	}

#topnav li li.current_page_item a, 
#topnav li li.current_page_item a:link, 
#topnav li li.current_page_item a:visited {
	margin:0;
	background: transparent;
	padding: 0 10px;
	display:block;
	}

#topnav li.current_page_item li a, 
#topnav li.current_page_item li a:link, 
#topnav li.current_page_item li a:visited,
#topnav li li.current_page_item li a, 
#topnav li li.current_page_item li a:link, 
#topnav li li.current_page_item li a:visited {
	margin:0;
	background: transparent;
	color:#ccc;
	padding: 0 10px;
	}

#topnav li.current_page_item li a:hover, 
#topnav li.current_page_item li a:active,
#topnav li li.current_page_item a:hover, 
#topnav li li.current_page_item a:active,
#topnav li li.current_page_item li a:hover, 
#topnav li li.current_page_item li a:active {
	padding: 0 10px;
	margin:0;
	background: transparent;
	color:#fff;
	}

.js #slideshow .slides-nav li a,
#slideshow .slides-nav li a, 
.js #home-top-narrow #slideshow .slides-nav li a,
#home-top-narrow #slideshow .slides-nav li a {
	display:block;
	padding:0;
	list-style-type:none;
	display:block;
	height:14px;
	line-height:14px;
	width:14px;
	background-image:none !important;
	background:#fff !important;
	float:left  !important;
	filter:alpha(opacity=10);
	-moz-opacity:0.1;
	-khtml-opacity: 0.1;
	opacity: 0.1;
	}

#slideshow .slides-nav li.on a, 
.js #slideshow .slides-nav li.on a,
.js #slideshow .slides-nav li a:hover,
.js #slideshow .slides-nav li a:active,
#home-top-narrow #slideshow .slides-nav li.on a, 
.js #home-top-narrow #slideshow .slides-nav li.on a,
.js #home-top-narrow #slideshow .slides-nav li a:hover,
.js #home-top-narrow #slideshow .slides-nav li a:active {
	background-image:none !important;
	background:#fff !important;
	filter:alpha(opacity=40);
	-moz-opacity:0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
	float:left !important;
	}

.featured-news-content {
	height: 40px;
	padding-top:10px;
	}

.widget {
	height:1%;
	}

.widget.sidetabs .popular li a,
.widget.sidetabs .popular li a:link,
.widget.sidetabs .popular li a:visited,
.widget.sidetabs .side-recent-comments li a,
.widget.sidetabs .side-recent-comments li a:link,
.widget.sidetabs .side-recent-comments li a:visited  {
	padding: 7px 15px 7px 28px;
	background:url(images/bullet-side-dk.gif) 15px 12px no-repeat !important;
	}

.widget.subscribebox li.feed a {
	background:url(images/rss2.gif) 15px 10px no-repeat; 
	}

.widget.subscribebox li.twitter a {
	background:url(images/twitter2.gif) 15px 10px no-repeat; 
	}

.widget.subscribebox li.facebook a {
	background:url(images/facebook2.gif) 15px 10px no-repeat; 
	}

.widget.subscribebox li.linkedin a {
	background:url(images/linkedin2.gif) 15px 10px no-repeat; 
	}

.widget.subscribebox li.flickr a {
	background:url(images/flickr2.gif) 15px 10px no-repeat; 
	}

.widget.subscribebox li.youtube a {
	background:url(images/youtube2.gif) 15px 10px no-repeat; 
	}
