/* -------------------[ Teal ]------------------- */


a, a:link, a:visited {
	color:#005566;
	}

a:hover, a:active {
	color:#000000;
	}

a.more-link, 
a.more-link:link, 
a.more-link:visited  {
	background:url(read-more.png) top left no-repeat;
	}

a.more-link:hover, 
a.more-link:active  {
	background:url(read-more.png) bottom left no-repeat;
	}

#commentform input#submit {
	background:url(read-more.png) top left no-repeat;
	}

#commentform input#submit:hover {
	background:url(read-more.png) bottom left no-repeat;
	}

#topnav li.current_page_item  {
	background: transparent url(nav-button-rt.png) top right no-repeat;
	}

#topnav li.current_page_item a, 
#topnav li.current_page_item a:link, 
#topnav li.current_page_item a:visited {
	background: transparent url(nav-button.png) top left no-repeat;
	}

#footer-widgets {
	background-color:#005566;
	border-top:1px solid #005566;
	}

#footer-widgets h3.widgettitle {
	color:#eee;
	text-shadow:1px 1px 1px #005566;
	}

p.email-form {
	background: url(emailbg.png) top right no-repeat;
	}

.widget.sidetabs ul.tabs {  
	background:url(widget-corners-side-tabs.png) top left no-repeat;
	}

.widget.sidetabs ul.tabs li a.on {
	background:url(side-tab-on.png) top left no-repeat;
	}

.widget.sidetabs ul.tabs li a.on span {
	background:url(side-tab-on.png) top right no-repeat;
	}

#home-top {
	background:transparent url(feat-bg.jpg) top center no-repeat;
	}